.PlaylistItem {
    font-family: 'Palanquin', sans-serif;
    border: 1px solid #eee;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #ccc;
    color: rgb(63, 62, 62);
    cursor: pointer;
    list-style: none;
    margin: 10px;
    padding: 16px;
    /* text-align: center; */
    width: 30rem;
 }
 
 .PlaylistItem:hover,
 .PlaylistItem:active {
    background-color: #C0DDF5 ;
 }
 
 .Category {
    color: rgb(34, 34, 34);
    font-weight: 700;
    font-size: 2rem;
    text-align: left;        
    text-decoration: underline;
 }
 
 .Description {
 
 }
 
 .Price {
    display: inline;    
    font-weight: 600;
    text-align: right;
 }
 
 .ItemTitle {
    display: inline;
    font-size: 1.2rem;
    font-weight: 600;  
    text-align: left;
    text-decoration: none; 
 }